*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI Semibold';
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 35%;
    height: 70%;
    border: 0.2rem solid #37485a;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 7rem;
    width: 100%;
    background-color: #aac7d4;
}

.rol{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: #62a6b2;
    text-align: center;
    font-size: 1.5rem;
}

.title{
    font-size: 2.5rem;
    text-align: center;
}

.subtitle{
    font-size: 1rem;
    text-align: center;
}

.body{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 1.5rem;
    
}

.btn{
    width: 12rem;
    height: 6rem;
    border-radius: 1rem;
    border: none;
    background-color: #a8e1e1;
    box-shadow: 5px 5px 0 0 #62a6b2;
}

.btn:active{
    background-color: #aac7d4;
}

.big{
    width: 18rem;
    height: 20rem;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3rem;
    width: 100%;
    background-color: #aac7d4;
}

@media (min-width: 928px) {
    .sub-container{
        width: 30rem;
    }
}

@media (max-width: 927px) {
    .sub-container{
        width: 55%;
    }
}

@media (max-width: 784px) {
    .sub-container{
        width: 65%;
    }
}

@media (max-width: 678px) {
    .sub-container{
        width: 75%;
    }
}

@media (max-width: 575px) {
    .sub-container{
        width: 85%;
    }
}

@media (max-width: 506px) {
    .sub-container{
        width: 100%;
    }
}